.two-columns-slide {
  display: flex;
}

.col {
  flex: 1;
}

.top-slide-header {
  position: absolute;
  padding: 10px 20px;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 500;
}

.centered-slide-content {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate(0%, -50%);
}

.slides > section > section{
  width: 100%;
  height: 100%;
}

.thank-you {
  font-size: 300%;
}

.vertical-align {
  vertical-align: middle;
}
